/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
:root {
  --color-primary: #00b8b8;
  --color-primary-light: #00ebeb;
  --color-primary-dark: #008585;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0px;
  padding: 0px; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body {
  font-family: "Baloo 2", cursive;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

section {
  height: 100vh; }
  section i,
  section h2 {
    font-size: 10rem;
    color: var(--color-grey-dark-1); }

.row {
  max-width: 1140px;
  margin: 0 auto; }

section {
  padding: 50px 20px; }

.box {
  padding: 1%; }

.box p {
  font-size: 90%;
  line-height: 145%; }

/* Common elements */
h1 {
  font-size: 240%;
  position: absolute;
  top: 40%;
  margin: 0% 5%;
  font-weight: 100;
  padding-right: 5%;
  color: #f2f1ef; }

h2 {
  font-size: 200%;
  word-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none; }

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-image.jpg");
  /* Set a specific height */
  height: 100vh;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

.best-friends {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/best-friends-mobile.jpg");
  background-position: right; }

@media screen and (min-width: 768px) {
  .best-friends {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/best_friends.jpg");
    background-position: center; } }

.he-proposed {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/he-proposed.jpg"); }

.she_said_yes {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/yes_croped.jpg"); }

.date {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/date_mobile.jpg"); }

@media screen and (min-width: 768px) {
  .best-friends {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/date.jpg");
    background-position: center; } }

.location {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/location.jpg"); }

/* Place text in the middle of the image */
.hero-text {
  font-size: 80px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }
  .hero-text .hero-text_subtitle {
    font-size: 30px; }

/* Naivagtion Menu */
.navbar {
  font-size: 18px;
  background: transparent;
  padding-bottom: 10px;
  position: absolute;
  width: 100%;
  top: 0px; }

.main-nav {
  list-style-type: none; }

.nav-links,
.logo {
  text-decoration: none;
  color: var(--color-grey-light-4);
  font-size: 25px; }

.main-nav li {
  text-align: center;
  margin: 15px auto; }

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px; }

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: var(--color-grey-dark-3);
  font-size: 24px; }

.main-nav {
  list-style-type: none;
  display: none; }

.active {
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 998; }

.mobile-nav-wrapper #mobile_nav_header {
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  .mobile-nav-wrapper #mobile_nav_header .logo {
    margin-top: 0px;
    margin-left: 40px; }

.displayNone {
  display: none; }

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center; }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end; }
  .main-nav li {
    margin: 0; }
  .nav-links {
    margin-left: 40px; }
  .logo {
    margin-top: 0; }
  .navbar-toggle {
    display: none; }
  .logo:hover,
  .nav-links:hover {
    color: white; }
  .memories .nav-links:hover {
    color: var(--color-grey-dark-3); }
  .logo:hover,
  .nav-links:hover {
    color: var(--color-grey-dark-3); } }

.story .story-text {
  text-align: center;
  font-size: 2rem; }

.story .col {
  width: 100%; }

.story .address {
  text-align: center;
  font-size: 2rem; }
  .story .address h3 {
    font-size: 3.5rem; }
  .story .address p {
    font-size: 2.5rem; }
  .story .address #location {
    padding: 15px;
    font-size: 1.5rem;
    background: #fff;
    font-family: cursive;
    cursor: pointer;
    border: 1px solid #000;
    margin-top: 5px;
    text-decoration: none; }

#directions {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  #directions .contain {
    width: 50%; }
  #directions .direction-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #directions .direction-text h3 {
      font-size: 8rem; }
    #directions .direction-text .sub-title {
      font-size: 3.5rem;
      text-decoration: underline;
      margin-bottom: 5px; }
    #directions .direction-text p {
      font-size: 2rem; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

@media screen and (max-width: 768px) {
  #directions {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    #directions .contain {
      width: 100%; } }

.gallery {
  display: flex;
  padding: 2px;
  padding-top: 70px;
  transition: 0.3s; }
  .gallery:hover .gallery__image {
    filter: grayscale(1); }
  .gallery__column {
    display: flex;
    flex-direction: row;
    width: 128%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; }
  .gallery__link {
    margin: 2px;
    overflow: hidden; }
    .gallery__link:hover .gallery__image {
      filter: grayscale(0); }
    .gallery__link:hover .gallery__caption {
      opacity: 1; }
  .gallery__thumb {
    position: relative; }
  .gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s; }
    .gallery__image:hover {
      transform: scale(1.1); }
  .gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px; }

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px; }

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s; }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%; } }
