/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

:root {
  --color-primary: #00b8b8;
  --color-primary-light: #00ebeb;
  --color-primary-dark: #008585;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

$bp-largest: 75em; // 1200px

* {
  margin: 0px;
  padding: 0px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: 900px) {
    font-size: 50%;
  }
}

body {
  font-family: "Baloo 2", cursive;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  // background-image: linear-gradient(
  //   to right bottom,
  //   var(--color-primary-light),
  //   var(--color-primary-dark)
  // );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

section {
  height: 100vh;

  i,
  h2 {
    font-size: 10rem;
    color: var(--color-grey-dark-1);
    // display: inline-block;
  }
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 50px 20px;
}

.box {
  padding: 1%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}
/* Common elements */

h1 {
  font-size: 240%;
  position: absolute;
  top: 40%;
  margin: 0% 5%;
  font-weight: 100;
  padding-right: 5%;
  color: #f2f1ef;
}

h2 {
  font-size: 200%;
  word-spacing: 2px;
  // text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
}
